In [1]:
!pip install imblearn

Requirement already satisfied: imblearn in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/python/3.12.1/lib/python3.12/site-packages (from imblearn) (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (2.0.2)
Requirement already satisfied: scipy<2,>=1.10.1 in /home/codespace/.local/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.14.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /home/codespace/.local/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.6.0)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in /home/codespace/.local/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (3.5.0)

In [2]:
import numpy as np 
import pandas as pd 


import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, log_loss
from imblearn.over_sampling import SMOTE
import xgboost as xgb
from sklearn.model_selection import train_test_split


# Import and suppress warnings
import warnings
warnings.filterwarnings('ignore')

# 1. Exploratory Data Analysis

Let us load in the dataset via the trusty Pandas package into a dataframe object which we call **attrition** and have a quick look at the first few rows

In [3]:
attrition = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
# Looking for NaN
attrition.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [5]:
# attrition.Age.fillna('')

### Correlation of Features

In [6]:
# attrition.corr()

#  Feature Engineering & Categorical Encoding

Task of Feature engineering and numerically encoding the categorical values in our dataset.

In [7]:
# attrition.shape

In [8]:
attrition.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
# Empty list to store columns with categorical data
categorical = []
for col, value in attrition.items():
    if value.dtype == 'object':
        categorical.append(col)

# Store the numerical columns in a list numerical
numerical = attrition.columns.difference(categorical)

print("Categorical columns:", categorical)
print("Numerical columns:", numerical)

Categorical columns: ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
Numerical columns: Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [10]:
numerical

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
categorical

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [12]:
# Store the categorical data in a dataframe called attrition_cat
attrition_cat = attrition[categorical]
attrition_cat = attrition_cat.drop(['Attrition'], axis=1) # Dropping the target column

In [13]:
attrition_cat

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

Applying the **get_dummies** method

In [14]:
# How can you convert categorial or string or object data into Numerical Format ?

# Process of converting your cat data into numerical format - Encoding process 

# Encoding (15 More )

# Label Encoding 

# One Hot Encoding ( OHE)

# Cat_A 

# Male
#Female 
#Male
#Female
# Prefer_not_to_say
# Male 

# OHE 

           # Cat_A_Male    #Cat_A_Female   #Cat_A_Prefer_not_to_say
#1# Male      1             0                0 
#2#Female     0             1                0
#3#Male       1             0                0
#4#Female     0             1                0
#5# Prefer_not_to_say 0     0                1
#6# Male 



# Label Encoding 

# Cat_A 

# Male   2       
#Female 1
#Male 2
#Female 1
# Prefer_not_to_say 3
# Male 2

# Target Encoding 
# Mean Encoding

In [15]:
# Filter your object datatypes 

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])
le.transform(["tokyo", "tokyo", "paris","amsterdam"])

# list(le.classes_)


#0 ,1,2

array([2, 2, 1, 0])

In [16]:
attrition_cat = pd.get_dummies(attrition_cat)
attrition_cat.head(3)

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,False,False,True,False,False,True,False,True,False,False,...,False,False,True,False,False,False,True,True,False,True
1,False,True,False,False,True,False,False,True,False,False,...,False,True,False,False,False,True,False,True,True,False
2,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,True

In [17]:
# Store the numerical features to a dataframe attrition_num
attrition_num = attrition[numerical]

let's concat numerical and caterogial dfs

In [18]:
# Concat the two dataframes together columnwise
attrition_final = pd.concat([attrition_num, attrition_cat], axis=1)

In [19]:
attrition_final.shape

(1470, 55)

**Target variable**

The target in this case is given by the column **Attrition** which contains categorical variables therefore requires numerical encoding. We numerically encode it by creating a dictionary with the mapping given as 1 : Yes and 0 : No

In [20]:
# Define a dictionary for the target mapping
target_map = {'Yes':1, 'No':0}
# Use the pandas apply method to numerically encode our attrition target variable
target = attrition["Attrition"].apply(lambda x: target_map[x])
target.head(3)

0    1
1    0
2    1
Name: Attrition, dtype: int64


**Splitting Data into Train and Test sets**

In [21]:
# Split data into train and test sets as well as for validation and testing
train, test, target_train, target_test = train_test_split(attrition_final, target, train_size= 0.75,random_state=0);

#  Implementing Machine Learning Models

## GBM Classifier

### 1.n_estimators - No of Trees in the Model

### 2.max_features - The number of features to consider while searching for a best split.Thumb Rule to have Square root of no of Columns

### 3.max_depth - Maximum Depth of Tree and can be used to control overfiting 

### 4.min_samples_leaf - Minimum samples (or observations) required in a terminal node or leaf.In general we need to have lower values  for it for Imbalanced problems

### 5.subsample- The fraction of samples to be used for fitting the individual base learners

### 6.learning_rate - Learning rate shrinks the contribution of each tree by learning_rate. There is a trade-off between learning_rate and n_estimators

In [22]:
gb = GradientBoostingClassifier(random_state=100) # default 
gb.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'log_loss',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': 100,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [23]:
# Fit the model to our train and target
gb.fit(train, target_train)
# Get our predictions
gb_predictions = gb.predict(test)

In [24]:
gb_predictions_prob = gb.predict_proba(test)
gb_predictions_prob

array([[0.95425715, 0.04574285],
       [0.96266164, 0.03733836],
       [0.86753512, 0.13246488],
       [0.93446343, 0.06553657],
       [0.11595517, 0.88404483],
       [0.69684147, 0.30315853],
       [0.64887562, 0.35112438],
       [0.95196738, 0.04803262],
       [0.97038412, 0.02961588],
       [0.86642399, 0.13357601],
       [0.94437031, 0.05562969],
       [0.91453905, 0.08546095],
       [0.97008856, 0.02991144],
       [0.30172989, 0.69827011],
       [0.94679291, 0.05320709],
       [0.98937899, 0.01062101],
       [0.94587557, 0.05412443],
       [0.93925719, 0.06074281],
       [0.94572155, 0.05427845],
       [0.92824768, 0.07175232],
       [0.63031267, 0.36968733],
       [0.95095032, 0.04904968],
       [0.96466225, 0.03533775],
       [0.97249008, 0.02750992],
       [0.58256377, 0.41743623],
       [0.75837581, 0.24162419],
       [0.95692266, 0.04307734],
       [0.97394765, 0.02605235],
       [0.25660257, 0.74339743],
       [0.96627476, 0.03372524],
       [0.9370103 , 0.0629897 ],
       [0.97054113, 0.02945887],
       [0.72602826, 0.27397174],
       [0.94088637, 0.05911363],
       [0.8540458 , 0.1459542 ],
       [0.95643054, 0.04356946],
       [0.92795664, 0.07204336],
       [0.95077212, 0.04922788],
       [0.96403289, 0.03596711],
       [0.89832621, 0.10167379],
       [0.93184448, 0.06815552],
       [0.98246084, 0.01753916],
       [0.98249482, 0.01750518],
       [0.9445623 , 0.0554377 ],
       [0.9739705 , 0.0260295 ],
       [0.39098348, 0.60901652],
       [0.84584692, 0.15415308],
       [0.98543184, 0.01456816],
       [0.12275346, 0.87724654],
       [0.41831239, 0.58168761],
       [0.88842615, 0.11157385],
       [0.45888689, 0.54111311],
       [0.94905763, 0.05094237],
       [0.95377671, 0.04622329],
       [0.38737978, 0.61262022],
       [0.81782947, 0.18217053],
       [0.98358002, 0.01641998],
       [0.90739507, 0.09260493],
       [0.98341059, 0.01658941],
       [0.52594093, 0.47405907],
       [0.98112677, 0.01887323],
       [0.90242903, 0.09757097],
       [0.76861349, 0.23138651],
       [0.94486355, 0.05513645],
       [0.53386057, 0.46613943],
       [0.96150163, 0.03849837],
       [0.8207475 , 0.1792525 ],
       [0.92160034, 0.07839966],
       [0.94286369, 0.05713631],
       [0.95425839, 0.04574161],
       [0.94541621, 0.05458379],
       [0.70456971, 0.29543029],
       [0.89822164, 0.10177836],
       [0.97057804, 0.02942196],
       [0.9116692 , 0.0883308 ],
       [0.96863902, 0.03136098],
       [0.97495523, 0.02504477],
       [0.92495345, 0.07504655],
       [0.41259222, 0.58740778],
       [0.98987829, 0.01012171],
       [0.98695265, 0.01304735],
       [0.97879634, 0.02120366],
       [0.9380963 , 0.0619037 ],
       [0.95352286, 0.04647714],
       [0.93758617, 0.06241383],
       [0.955901  , 0.044099  ],
       [0.97398947, 0.02601053],
       [0.82717248, 0.17282752],
       [0.93887772, 0.06112228],
       [0.96171254, 0.03828746],
       [0.32999572, 0.67000428],
       [0.96346516, 0.03653484],
       [0.88623647, 0.11376353],
       [0.73941826, 0.26058174],
       [0.98771043, 0.01228957],
       [0.9712543 , 0.0287457 ],
       [0.89449503, 0.10550497],
       [0.58046794, 0.41953206],
       [0.97774197, 0.02225803],
       [0.95302046, 0.04697954],
       [0.71342454, 0.28657546],
       [0.8061877 , 0.1938123 ],
       [0.49475417, 0.50524583],
       [0.97057666, 0.02942334],
       [0.96443989, 0.03556011],
       [0.96042126, 0.03957874],
       [0.92572113, 0.07427887],
       [0.62023522, 0.37976478],
       [0.48119761, 0.51880239],
       [0.84650471, 0.15349529],
       [0.62243893, 0.37756107],
       [0.85932631, 0.14067369],
       [0.95462151, 0.04537849],
       [0.96619621, 0.03380379],
       [0.94581538, 0.05418462],
       [0.91689517, 0.08310483],
       [0.95839369, 0.04160631],
       [0.8794354 , 0.1205646 ],
       [0.98362608, 0.01637392],
       [0.98281878, 0.01718122],
       [0.96947689, 0.03052311],
       [0.97334027, 0.02665973],
       [0.95974568, 0.04025432],
       [0.12036692, 0.87963308],
       [0.82297479, 0.17702521],
       [0.98153225, 0.01846775],
       [0.98694682, 0.01305318],
       [0.91438861, 0.08561139],
       [0.89250181, 0.10749819],
       [0.9602713 , 0.0397287 ],
       [0.98262507, 0.01737493],
       [0.48009381, 0.51990619],
       [0.33955706, 0.66044294],
       [0.64491347, 0.35508653],
       [0.8168872 , 0.1831128 ],
       [0.50657794, 0.49342206],
       [0.56711104, 0.43288896],
       [0.9007447 , 0.0992553 ],
       [0.90199207, 0.09800793],
       [0.95356113, 0.04643887],
       [0.96705584, 0.03294416],
       [0.90884378, 0.09115622],
       [0.9349426 , 0.0650574 ],
       [0.91939924, 0.08060076],
       [0.84578704, 0.15421296],
       [0.97456423, 0.02543577],
       [0.84751971, 0.15248029],
       [0.96033593, 0.03966407],
       [0.92545517, 0.07454483],
       [0.97048199, 0.02951801],
       [0.97032391, 0.02967609],
       [0.91630897, 0.08369103],
       [0.93079044, 0.06920956],
       [0.40456246, 0.59543754],
       [0.947625  , 0.052375  ],
       [0.91449881, 0.08550119],
       [0.98636154, 0.01363846],
       [0.71405454, 0.28594546],
       [0.96510197, 0.03489803],
       [0.97168808, 0.02831192],
       [0.77305162, 0.22694838],
       [0.98524719, 0.01475281],
       [0.56610324, 0.43389676],
       [0.06973742, 0.93026258],
       [0.96669022, 0.03330978],
       [0.86957648, 0.13042352],
       [0.85638175, 0.14361825],
       [0.96746578, 0.03253422],
       [0.96326231, 0.03673769],
       [0.98008622, 0.01991378],
       [0.9631766 , 0.0368234 ],
       [0.94571755, 0.05428245],
       [0.95353727, 0.04646273],
       [0.76749272, 0.23250728],
       [0.97156023, 0.02843977],
       [0.84776155, 0.15223845],
       [0.93983408, 0.06016592],
       [0.7128298 , 0.2871702 ],
       [0.87254419, 0.12745581],
       [0.91867668, 0.08132332],
       [0.96659066, 0.03340934],
       [0.96842656, 0.03157344],
       [0.98440216, 0.01559784],
       [0.52822561, 0.47177439],
       [0.97013695, 0.02986305],
       [0.975773  , 0.024227  ],
       [0.72460519, 0.27539481],
       [0.92948195, 0.07051805],
       [0.92364724, 0.07635276],
       [0.8141039 , 0.1858961 ],
       [0.81531336, 0.18468664],
       [0.34193098, 0.65806902],
       [0.94062026, 0.05937974],
       [0.98605656, 0.01394344],
       [0.96238386, 0.03761614],
       [0.89240038, 0.10759962],
       [0.96629132, 0.03370868],
       [0.96743579, 0.03256421],
       [0.47861277, 0.52138723],
       [0.95445889, 0.04554111],
       [0.77024837, 0.22975163],
       [0.93913958, 0.06086042],
       [0.81173832, 0.18826168],
       [0.97146037, 0.02853963],
       [0.94145861, 0.05854139],
       [0.93356602, 0.06643398],
       [0.75972578, 0.24027422],
       [0.98540422, 0.01459578],
       [0.95597808, 0.04402192],
       [0.97471758, 0.02528242],
       [0.94873919, 0.05126081],
       [0.97093324, 0.02906676],
       [0.86302403, 0.13697597],
       [0.83032931, 0.16967069],
       [0.96277411, 0.03722589],
       [0.97446945, 0.02553055],
       [0.98062402, 0.01937598],
       [0.87761169, 0.12238831],
       [0.97251425, 0.02748575],
       [0.63691449, 0.36308551],
       [0.72636885, 0.27363115],
       [0.77240465, 0.22759535],
       [0.57649195, 0.42350805],
       [0.67980935, 0.32019065],
       [0.82615901, 0.17384099],
       [0.96841481, 0.03158519],
       [0.93445502, 0.06554498],
       [0.69565772, 0.30434228],
       [0.27794715, 0.72205285],
       [0.92601046, 0.07398954],
       [0.96144666, 0.03855334],
       [0.59763048, 0.40236952],
       [0.95776276, 0.04223724],
       [0.92687147, 0.07312853],
       [0.96753432, 0.03246568],
       [0.61570908, 0.38429092],
       [0.86399975, 0.13600025],
       [0.98923344, 0.01076656],
       [0.88397265, 0.11602735],
       [0.97806179, 0.02193821],
       [0.79986193, 0.20013807],
       [0.80545456, 0.19454544],
       [0.9721119 , 0.0278881 ],
       [0.95970082, 0.04029918],
       [0.86890865, 0.13109135],
       [0.95813176, 0.04186824],
       [0.97568072, 0.02431928],
       [0.69268457, 0.30731543],
       [0.92598788, 0.07401212],
       [0.91900926, 0.08099074],
       [0.91581725, 0.08418275],
       [0.8345903 , 0.1654097 ],
       [0.65988095, 0.34011905],
       [0.94964915, 0.05035085],
       [0.79333725, 0.20666275],
       [0.92374445, 0.07625555],
       [0.96868775, 0.03131225],
       [0.35561514, 0.64438486],
       [0.84094598, 0.15905402],
       [0.38892717, 0.61107283],
       [0.85167427, 0.14832573],
       [0.96307142, 0.03692858],
       [0.88462374, 0.11537626],
       [0.94908531, 0.05091469],
       [0.88240951, 0.11759049],
       [0.79423159, 0.20576841],
       [0.97788665, 0.02211335],
       [0.62121259, 0.37878741],
       [0.86255923, 0.13744077],
       [0.97136832, 0.02863168],
       [0.95266044, 0.04733956],
       [0.96974757, 0.03025243],
       [0.95422737, 0.04577263],
       [0.94976773, 0.05023227],
       [0.96809168, 0.03190832],
       [0.97957092, 0.02042908],
       [0.91742816, 0.08257184],
       [0.74667356, 0.25332644],
       [0.93221129, 0.06778871],
       [0.67372023, 0.32627977],
       [0.66684839, 0.33315161],
       [0.97330889, 0.02669111],
       [0.91337794, 0.08662206],
       [0.77366167, 0.22633833],
       [0.8832038 , 0.1167962 ],
       [0.84292213, 0.15707787],
       [0.99294   , 0.00706   ],
       [0.94024791, 0.05975209],
       [0.96593479, 0.03406521],
       [0.97629651, 0.02370349],
       [0.93867593, 0.06132407],
       [0.59379026, 0.40620974],
       [0.94611828, 0.05388172],
       [0.94685051, 0.05314949],
       [0.92676488, 0.07323512],
       [0.9703074 , 0.0296926 ],
       [0.89317638, 0.10682362],
       [0.79986704, 0.20013296],
       [0.02633175, 0.97366825],
       [0.98070304, 0.01929696],
       [0.89974809, 0.10025191],
       [0.91638632, 0.08361368],
       [0.78031964, 0.21968036],
       [0.91008332, 0.08991668],
       [0.97953917, 0.02046083],
       [0.95730388, 0.04269612],
       [0.7377896 , 0.2622104 ],
       [0.88001116, 0.11998884],
       [0.98293977, 0.01706023],
       [0.96724203, 0.03275797],
       [0.68747934, 0.31252066],
       [0.96403622, 0.03596378],
       [0.8867743 , 0.1132257 ],
       [0.96202999, 0.03797001],
       [0.82005794, 0.17994206],
       [0.92286609, 0.07713391],
       [0.88474497, 0.11525503],
       [0.92484127, 0.07515873],
       [0.70115256, 0.29884744],
       [0.97183716, 0.02816284],
       [0.5462985 , 0.4537015 ],
       [0.9573019 , 0.0426981 ],
       [0.92033062, 0.07966938],
       [0.85225757, 0.14774243],
       [0.95370205, 0.04629795],
       [0.96747068, 0.03252932],
       [0.7458445 , 0.2541555 ],
       [0.74339205, 0.25660795],
       [0.98721474, 0.01278526],
       [0.96306272, 0.03693728],
       [0.9579974 , 0.0420026 ],
       [0.82413419, 0.17586581],
       [0.89696197, 0.10303803],
       [0.24911204, 0.75088796],
       [0.82281444, 0.17718556],
       [0.89850766, 0.10149234],
       [0.92595595, 0.07404405],
       [0.97562403, 0.02437597],
       [0.97172923, 0.02827077],
       [0.93588728, 0.06411272],
       [0.88409016, 0.11590984],
       [0.50668915, 0.49331085],
       [0.92715691, 0.07284309],
       [0.93502909, 0.06497091],
       [0.93028959, 0.06971041],
       [0.94739208, 0.05260792],
       [0.95415688, 0.04584312],
       [0.65663195, 0.34336805],
       [0.96911857, 0.03088143],
       [0.7018124 , 0.2981876 ],
       [0.98190499, 0.01809501],
       [0.94059124, 0.05940876],
       [0.92597402, 0.07402598],
       [0.92941033, 0.07058967],
       [0.945513  , 0.054487  ],
       [0.98032438, 0.01967562],
       [0.95757909, 0.04242091],
       [0.94447651, 0.05552349],
       [0.97012588, 0.02987412],
       [0.44250021, 0.55749979],
       [0.98552445, 0.01447555],
       [0.97023514, 0.02976486],
       [0.96078622, 0.03921378],
       [0.88696047, 0.11303953],
       [0.94499311, 0.05500689],
       [0.86110176, 0.13889824],
       [0.95385708, 0.04614292],
       [0.70609297, 0.29390703]])

In [25]:
# Gradient Boosting Parameters
# gb_params ={
#     'n_estimators': 500,   # no of Trees 
#     'learning_rate' : 0.2,
#     'max_depth': 11,
#     'min_samples_leaf': 2,
#     'subsample': 1,
#     'max_features' : 'sqrt',
#     'random_state' : 100,
#     'verbose': 0
# }

#gb = GradientBoostingClassifier(**gb_params) # After Doing HPT , we can pass the paramaters

In [26]:
accuracy_score(target_test, gb_predictions)

0.8831521739130435

### Feature Importance Gradient Boosting Model

In [27]:
gb.feature_importances_

array([0.06637792, 0.05983319, 0.03073138, 0.00432084, 0.        ,
       0.03919363, 0.03440223, 0.01631039, 0.03338705, 0.03211924,
       0.02486999, 0.10462228, 0.02408236, 0.0315579 , 0.02005508,
       0.        , 0.01282365, 0.        , 0.04186334, 0.0461674 ,
       0.00786869, 0.02921662, 0.02275688, 0.01094337, 0.02410598,
       0.05802124, 0.00119296, 0.02512782, 0.        , 0.        ,
       0.00334557, 0.00150605, 0.0042737 , 0.0005249 , 0.00822779,
       0.00420823, 0.0016531 , 0.0043053 , 0.00052944, 0.00090874,
       0.00121754, 0.00014525, 0.01109724, 0.        , 0.00334464,
       0.        , 0.00517715, 0.01111343, 0.01076333, 0.00311429,
       0.00155062, 0.01744231, 0.        , 0.0559923 , 0.04760764])

In [ ]:
# Scatter plot 
trace = go.Scatter(
    y = gb.feature_importances_,
    x = attrition_final.columns.values,
    mode='markers',
    marker=dict(
        sizemode = 'diameter',
        sizeref = 1.3,
        size = 12,
        color = gb.feature_importances_,
        colorscale='Portland',
        showscale=True
    ),
    text = attrition_final.columns.values
)
data = [trace]

layout= go.Layout(
    autosize= True,
    title= 'GBM Model Feature Importance',
    hovermode= 'closest',
     xaxis= dict(
         ticklen= 5,
         showgrid=False,
        zeroline=False,
        showline=False
     ),
    yaxis=dict(
        title= 'Feature Importance',
        showgrid=False,
        zeroline=False,
        ticklen= 5,
        gridwidth= 2
    ),
    showlegend= False
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig,filename='scatter')